apiVersion: apps/v1
kind: Deployment
metadata:
  name: studentapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: studentapp
  template:
    metadata:
      labels:
        app: studentapp
    spec:
      containers:
      - name: studentapp
        image: alaadiden/studentmanagement:1.0
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://mysql:3306/studentdb
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          value: root
---
apiVersion: v1
kind: Service
metadata:
  name: studentapp
spec:
  type: NodePort
  selector:
    app: studentapp
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30036
